@charset "UTF-8";
/* CSS Document */
.p0{ padding:0px;}
.m0{ margin:0px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt40{ margin-top:40px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml30{ margin-left:30px;}
.mb6{ margin-bottom:6px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb50{ margin-bottom:50px;}
.mr6{ margin-right:6px;}
.pl78{ padding-left:78px;}
.pt30{ padding-top:30px;}
.pb15{ padding-bottom: 15px;}
.p-17-0-0-15{ padding:17px 0 0 15px;}
.font1{ font-size:1em; color:#666;}
.h50{ height:50px;}
.h60{ height:60px;}
.lineGray-top{ border-top:1px solid #c9c9ca;}
.lineGray-bottom{ border-bottom:1px solid #c9c9ca;}
.lineDottedGray-bottom{ border-bottom:1px dotted #c9c9ca;}
.bg-3d{ background:url(../img/3d-bg.jpg) 0 0 no-repeat; background-size:cover;}
.bg-gray{ background:#c9c9ca;}
.wMax{ width:100%;}
/*btn begin*/
.bottomBtn-con{ height:50px; margin:40px 0 50px 0;}
.btn-blue-lg{ width:300px; height:50px; line-height:40px; background:#3396cf; text-align:center; font-size:1.5em; color:#fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.btn-blue-lg:hover{ width:300px; height:50px; line-height:40px; background:#85b4dc; text-align:center; font-size:1.5em; color:#fff;}
.btn-white-lg{ width:300px; height:50px; line-height:40px; background:#fff; text-align:center; font-size:1.5em; color:#3396cf; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border:1px solid #3396cf; }
.btn-white-lg:hover{ width:300px; height:50px; line-height:40px; background:#d7eefb; text-align:center; font-size:1.5em; color:#3396cf; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border:1px solid #3396cf; }
.btn-next-blue{ width:120px; height:45px; line-height:45px; text-align:center; background:#2b96cf; color:#fff; font-size:1.4em; position:fixed; bottom:160px; right:30px; cursor:pointer;}
.btn-next-blue:hover{ width:120px; height:45px; line-height:45px; text-align:center; background:#85b4dc; color:#fff; font-size:1.4em; position:fixed; bottom:160px; right:30px; cursor:pointer;}
.btn-del{ width:90px; height:50px; line-height:40px; background:#717171; font-size:1.4em; color:#fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.btn-del:hover{ width:90px; height:50px; line-height:40px; background:#828181; font-size:1.4em; color:#fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.btn-submit{ width:90px; height:50px; line-height:40px; background:#3498cd; font-size:1.4em; color:#fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; }
.btn-submit:hover{ width:90px; height:50px; line-height:40px; background:#85b4dc; font-size:1.4em; color:#fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; }
/*btn end*/

/* form  begin*/
.input-100{ width:100px; height:40px; line-height:40px; padding:0 5px;}
.input-238{ width:238px; height:40px; line-height:40px; padding:0 5px;}
.input-70{ width:70px; height:40px; line-height:40px; padding:0 5px; margin-left:5px;}
.select-100{ width:90px; height:40px; line-height:40px; margin-left:5px;}
/* form  end*/

/*login css begin*/
.formBox{ width:425px; margin:0 auto; position:absolute; z-index:999; top:0px;}
.formInputWrap{ width:425px; height:66px; border:1px solid #797a7a; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
.formInput{ width:360px; height:66px; line-height:64px; border:none; box-shadow:none; background:none; font-size:1.8em; color:#fff; outline:none;}
.formName{ width:25px; height:25px; background:url(../img/common@2x.png) 0 0 no-repeat; background-size: 100px auto; margin:18px 15px 0 15px;}
.formPsd{ width:25px; height:25px; background:url(../img/common@2x.png) -25px 0 no-repeat; background-size: 100px auto; margin:18px 15px 0 15px;}
.formBtn{ width:425px; height:69px; line-height:69px; background:url(../img/btn.png) 0 0 no-repeat; display:inline-block; color:#fff; text-align:center; font-size:2em; text-decoration:none;}
.formBtn:hover{ background:url(../img/btn.png) 0 -69px no-repeat; color:#fff; text-decoration:none;}
.remember{ padding:15px 0 0 0; }
.remember label{ font-size:1.5em; color:#fff;}
.version{ color:#fff; font-size:1.1em; margin-top:15px;}
/*login css end*/

/* top css begin*/
.topCon{ width:100%; height:60px; background:#c9c9ca; margin-top:30px;}
.topCon-3d{ width:100%; height:60px; background:none; border-bottom:1px dotted #ddd;margin-top:30px;}
.returnCon{ font-size:1.5em; color:#717171; line-height:25px;}
.returnCon i{ width:18px; height:25px; background: url(../img/common@2x.png) -64px -27px no-repeat; background-size: 100px auto; display:block; margin-right:3px;}
.returnCon:hover{ font-size:1.5em; color:#9b9b9b; text-decoration:none;}
.returnCon:hover i{ width:18px; height:25px; background: url(../img/common@2x.png) -82px -27px no-repeat; background-size: 100px auto; display:block; margin-right:3px;}
.topTitle{ font-size:2.8em; color:#000; word-spacing:8px; letter-spacing: 8px;}
.topTitle-3d{ font-size:2.6em; color:#fff; word-spacing:8px; letter-spacing: 8px; margin-top:4px;}
.mainMenu{ width:60px; height:15px; background:url(../img/common@2x.png) 0px -25px no-repeat; background-size:100px auto; margin:22px 5px 0 0; display:block;}
.mainMenu:hover{ width:60px; height:15px; background:url(../img/common@2x.png) 0px -40px no-repeat; background-size:100px auto; margin:22px 5px 0 0; display:block;}
/* top css end*/

/*drop menu css begin*/
.dropBox{ border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-align:center; border:0px; padding:0px; margin:23px 0px 0 0; box-shadow:none; background:none;} 
.dropBox li{ width:100px; margin-bottom:1px solid #fff; display:block; background:#c9c9ca; margin:1px 0 0 20px;}
.dropBox li a span{ font-size:1em; color:#717171; margin:2px 0 8px 0; display:inline-block;} 
.dropBox li a:hover span{ font-size:1em; color:#9b9b9b; margin:2px 0 8px 0; display:inline-block;} 
.dropBox li a .returnHome{ width:40px; height:40px; background:url(../img/common@2x.png) 0 -56px no-repeat; background-size:100px auto; display:block; margin:12px auto 0 auto;}
.dropBox li a:hover .returnHome{ width:40px; height:40px; background:url(../img/common@2x.png) -40px -56px no-repeat; background-size:100px auto; display:block; margin:12px auto 0 auto;}
.dropBox li a .shoppingCard{ width:40px; height:40px; background:url(../img/common@2x.png) 0 -160px no-repeat; background-size:100px auto; display:block; margin:12px auto 0 auto;}
.dropBox li a:hover .shoppingCard{ width:40px; height:40px; background:url(../img/common@2x.png) -40px -160px no-repeat; background-size:100px auto; display:block; margin:12px auto 0 auto;}
.dropBox li a .userCenter{ width:40px; height:40px; background:url(../img/common@2x.png) 0 -105px no-repeat; background-size:100px auto; display:block; margin:12px auto 0 auto;}
.dropBox li a:hover .userCenter{ width:40px; height:40px; background:url(../img/common@2x.png) -40px -105px no-repeat; background-size:100px auto; display:block; margin:12px auto 0 auto;}
/*drop menu css end*/

/* sub menu list css begin */
.listTitle{ font-size:1.5em; color:#717171; line-height:22px;}
.listTitle i{ width:22px; height:22px; border-radius:11px; -moz-border-radius:11px; -webkit-border-radius:11px; background:#c9c9ca; display:block; margin-right:10px;}
.listCon{ padding:10px 0;}
.listConTitle{ font-size:1.5em; color:#717171; line-height:50px;}
.listConTips{ color:#999;}
.listConTips p{ line-height:18px; font-size:0.9em; margin-top:6px; padding:0px;}
.openIcon{ width:20px; height:20px; background:url(../img/common@2x.png) -80px -2px no-repeat; background-size:100px auto; display:block; margin-top:14px;}
.closeIcon{ width:20px; height:20px; background:url(../img/common@2x.png) -59px -2px no-repeat; background-size:100px auto; display:block; margin-top:14px;}
.conBox{ display:none;}
/* sub menu list css end */


