<header>
	<div class="top" style="zoom:2; margin-top:20%;height:400px;"> 
		<img src="img/success.png" alt="">
        
		<h2 class="success">订单已提交</h2>
		<p style="padding-top: 40px; font-size:25px;">您的订单编号：<span name="" id="" ng-model="orderno">{{orderno}}</span></p>
		<p style="padding-top: 40px; font-size:25px;">您的姓名：
			<span name="" id="" ng-model="contactname">{{contactname}}</span>
		</p>
		<p style="padding-top: 40px; font-size:25px;">您的手机号：
			<span name="" id="" ng-model="contactphone">{{contactphone}}</span>
		</p>
		<p style="padding-top: 40px; font-size:25px;">您的收货地址：
			<span name="" id="" ng-model="contactaddress">{{contactaddress}}</span>
		</p>
	    <!--{{currentOrderPhone}}
        {{currentOrderAddress}}-->
	<div>	
	<img src="img/success-line.png" alt="">
	</div>
	</div>
</header>
<footer>
	<div class="selections" style="">
		<a ui-sref="home" style="line-height:80px;height:80px;">返回首页</a>
	</div>
</footer>
