	<div class="suit-preview">
		<p class="mui-text-center">您可以360度浏览您的作品如需调整，可以由导航回到之前的步骤</p>
	</div>
	<div>
		<div class="container3DModel" id="3dmodel">
			<div id="loadRate" style="display none;"></div>
			<div id="images" class="model-images">

			</div>
		</div>
	</div>
	<div class="suit-preview mui-row">
		<div class="mui-col-xs-6"><p>一切细节都已经很完美了</p><a ng-click="immediateOrder()">马上下单</a></div>
		<div class="mui-col-xs-6"><p>还想得到滨河如意服装专家的建议？<br />可以先保存您的设计</p><a ng-click="saveDesign()">保存设计</a></div>
		<!--<div class="mui-col-xs-6"><p>还想得到庄吉专家的建议？<br />可以先保存您的设计</p><a ui-sref="home.suit.preview.design">保存设计</a></div>-->
	</div>

